<form class="create-update-form" action="/" method="POST">
    <div class="form-group">
        <input class="form-control" id="input" type="text" name="customer" placeholder="Tako Eater"></textarea>
    </div>
</form>