<form action="/delete/{{this.id}}?_method=DELETE" method="POST">
    <button type="submit button" id="delete" class="btn waves-effect waves-light red"> <i class="material-icons">delete</i></button>
</form>